body {
    background-color: cornflowerblue;
    margin: 10px;
}
header {
    display: flex;
    align-items: center;
    background-color: #326fca;
    margin-bottom: 20px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
aside {
    background-color: #ffebcd;
    /* padding: 10px; */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
}
.cityList {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
button {
    padding: 5px;
    margin: 5px;
}
.mainpart {
    /* margin: 10px; */
}
.mainCity {
    background-color: #ffebcd;
}

.card{
    background-color: #ffebcd;
}

footer {
    background-color: #7fffd4;
}